@import "tw-animate-css";
@import "@fontsource-variable/inter";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter Variable', sans-serif;
  }

  :root {
    /* --background: #93abb8; */
    /* --background: #e1f5ff; */
    /* --background: #cbcbbe; */
    --background: #EDEFEA;
    --foreground: #1B2A2E;
    --card: #FFFFFF;
    --card-foreground: #1B2A2E;
    --popover: #EDEFEA;
    --popover-foreground: #1B2A2E;
    --primary: #1B2A2E;
    --primary-foreground: #FFFFFF;
    --secondary: #3D2E42;
    --secondary-foreground: #EDEFEA;
    --muted: #F1EFE6;
    --button: 27 42 46;
    --muted-foreground: #5F6E72;
    --accent: #F1EFE6;
    --accent-foreground: #1B2A2E;
    --destructive: #C4503F;
    --destructive-foreground: #FFFFFF;
    --border: rgb(212, 217, 209);
    --input-border: rgb(127, 224, 67);
    --input-background: #FFFFFF;
    --placeholder: #737373;
    --ring: #1B2A2E;
    --radius: 0.625rem;


    --text-display-2xl: 4.5rem;
    --text-display-xl: 3.75rem;
    --text-display-lg: 3rem;
    --text-display-md: 2.25rem;
    --text-display-sm: 1.875rem;
    --text-display-xs: 1.5rem;
    --text-display-xxs: 1.4rem;
    --text-xl: 1.25rem;
    --text-lg: 1.125rem;
    --text-md: 1rem;
    --text-smmd: 0.95rem;
    --text-sm: 0.875rem;
    --text-xs: 0.75rem;
    --text-xxs: 0.65rem;
  }

  .dark {
    --background: #14181A;
    --foreground: #EDEFEA;
    --card: #1E2426;
    --card-foreground: #EDEFEA;
    --popover: #1E2426;
    --popover-foreground: #EDEFEA;
    --primary: #EDEFEA;
    --primary-foreground: #14181A;
    --secondary: #5A4560;
    --secondary-foreground: #14181A;
    --muted: #232A2C;
    --muted-foreground: #9AA5A8;
    --accent: #232A2C;
    --accent-foreground: #EDEFEA;
    --destructive: #E06B58;
    --destructive-foreground: #14181A;
    --border: #2C3436;
    --input-border: #2C3436;
    --input-background: #1E2426;
    --placeholder: #9AA5A8;
    --ring: #EDEFEA;
  }

  * {
    @apply border-border outline-ring;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}